# OS X...
.DS_Store

# ignore vagrant folder
.vagrant

# ignore the content of the backups directory
/backups/*

# ignore the wordpress directory
/wordpress

# ignore the phpmyadmin directory
/phpmyadmin
